In [7]:
''' Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple '''

str1 = "Loving Python"
print(str1)

list1 = [7,27.05,True,"Hello", 2+5j]
print(list1)

flt_num = 57.05
print(flt_num)

tupl = (10, 10,20,"data","engineer","analyst",45,True)
print(tupl)

Loving Python
[7, 27.05, True, 'Hello', (2+5j)]
57.05
(10, 10, 20, 'data', 'engineer', 'analyst', 45, True)

In [18]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.\nWhat will be the data type of the above given variable.'

In [19]:
var1 = ' '
type(var1)

str

In [20]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [21]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [22]:
var4 = 1.
type(var4)

float

In [ ]:
'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

In [27]:
# (i) / - Division
print(13/3)

4.333333333333333

In [24]:
#  % - Modular
print(10 % 3)

1

In [28]:
# // - floor division
print (13//5)

2

In [26]:
# ** - Exponential
print (2 ** 3)

8

In [1]:
''' Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. '''

list2 = [ 2,True,4.05,"solving",3+3j,"assignment",100,2+70j,False,115.4]

for item in list2:
    print("item is {}".format(item), "and type is: ", type(item))

item is 2 and type is:  <class 'int'>
item is True and type is:  <class 'bool'>
item is 4.05 and type is:  <class 'float'>
item is solving and type is:  <class 'str'>
item is (3+3j) and type is:  <class 'complex'>
item is assignment and type is:  <class 'str'>
item is 100 and type is:  <class 'int'>
item is (2+70j) and type is:  <class 'complex'>
item is False and type is:  <class 'bool'>
item is 115.4 and type is:  <class 'float'>

In [4]:
''' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

A = 45
B = 3

while A%B == 0:
    print("A is divisible by B by", A/B, "times")
    break
else:
    print("A is not divisible by B")

A is divisible by B by 15.0 times

In [ ]:
''' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

A = 45
B = 3

while A%B == 0:
    print("A is divisible by B")
else:
    print("A is not divisible by B")

In [6]:
''' Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. '''

list3 = range(25)
print(list3)

for i in list3:

    if i%3 == 0:
        print(i,"is divisible by 3 and value is:",i/3)
    else:
        print(i,"is not divisible by 3")
      
    i = i + 1

range(0, 25)
0 is divisible by 3 and value is: 0.0
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3 and value is: 1.0
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3 and value is: 2.0
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3 and value is: 3.0
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3 and value is: 4.0
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3 and value is: 5.0
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3 and value is: 6.0
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3 and value is: 7.0
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3 and value is: 8.0

In [5]:
'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''

#list data structure is mutable, we can change the value of the list
list4 = ['u','s','h','a']
list4[0] = 'a'
print(list4)

['a', 's', 'h', 'a']

In [7]:

# string, tuples are immutable, we can't change the value.
str1 = 'asha'

str1[0]='u'
print(str1)

TypeError: 'str' object does not support item assignment